{{ -5 | abs }}|{{ 2.5 | abs }}|{{ 2.5 | round }}|{{ 3.5 | round }}|{{ 42.55 | round(1, 'floor') }}|{{ 2.41 | round(1, 'ceil') }}|{{ 42.0 | round }}
{{ '42' | int }}|{{ 'x' | int(-1) }}|{{ 4.7 | int }}|{{ '4.25' | float }}|{{ 1 | float }}|{{ 'z' | float(0.5) }}
{{ [1, 2, 3] | sum }}|{{ [] | sum }}|{{ [0.5, 0.25] | sum }}|{{ [3, 1, 2] | min }}|{{ [3, 1, 2] | max }}
