[{{ missing }}]|{{ missing is defined }}|{{ present is defined }}|{{ missing is undefined }}
{{ nul is none }}|{{ missing is none }}|{{ nul is defined }}|{{ nul == none }}
{{ missing ~ 'x' }}|{{ missing or 'fb' }}|{{ not missing }}|{{ missing in [1] }}
{{ missing == 1 }}|{{ missing == missing }}
